{% extends 'layouts/base/index.html.twig' %}

{% set title = 'Request Historical Quotes' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if errorMessage is not empty %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ errorMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block extraCss %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
{% endblock %}

{% block bottomjs %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

    <script>
        $( function() {
            $('#historical_quotes_startDate, #historical_quotes_endDate').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true
            });
            $('#historical_quotes_company').chosen();
        } );
    </script>
{% endblock %}
