{% extends 'layouts/base/index.html.twig' %}

{% set title = 'Historical Quotes for ' ~ company.name ~ ' ' ~ startDate|date('d/m/Y') ~ ' - ' ~ endDate|date('d/m/Y') %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Open</th>
                            <th scope="col">High</th>
                            <th scope="col">Low</th>
                            <th scope="col">Close</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for quote in historicalQuotes %}
                    <tr>
                        <td>{{ quote.date|date('d/m/Y') }}</td>
                        <td>{{ quote.openValue }}</td>
                        <td>{{ quote.highValue }}</td>
                        <td>{{ quote.lowValue }}</td>
                        <td>{{ quote.closeValue }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width:100%">
            <canvas id="myChart"></canvas>
        </div>
    </div>


{% endblock %}

{% block bottomjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <script>
        var myBarChart = new Chart(
            document.getElementById('myChart').getContext('2d'),
            {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Open',
                        type: 'line',
                        fill: false,
                        backgroundColor: 'rgba(255, 205, 86, 0.7)',
                        borderColor: 'rgba(255, 205, 86, 0.7)',
                        data: [
                            {% for quote in historicalQuotes %}
                            {
                                't': '{{ quote.date|date('Y-m-d') }}',
                                'y': {{ quote.openValue }}
                            },
                            {% endfor %}
                        ]
                    },{
                        label: 'Close',
                        type: 'line',
                        fill: false,
                        backgroundColor: 'rgba(255, 99, 132, 0.7)',
                        borderColor: 'rgba(255, 99, 132, 0.7)',
                        data: [
                            {% for quote in historicalQuotes %}
                            {
                                't': '{{ quote.date|date('Y-m-d') }}',
                                'y': {{ quote.closeValue }}
                            },
                            {% endfor %}
                        ]
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'dddd DD MMM YYYY'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                }
            }
        );
    </script>
{% endblock %}
